.about-us {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  padding-top: 90px;
  padding-bottom: 90px;
}

.about-us__img {
  height: 410px;
  margin-right: 50px;
}

.about-us__wrapper {
  max-width: 430px;
}

.about-us__h {
  text-align: left;
}

.about-us__text {
  font-weight: normal;
  color: #4c4c4c;
}
